# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs
# https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{yml,yaml,json,xml,md,properties}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.java]
# Java-specific settings
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_imports = 1
ij_java_class_count_to_use_import_on_demand = 999
ij_java_imports_layout = java.**,|,javax.**,|,org.**,|,com.**,|,*
ij_java_insert_inner_class_imports = false
ij_java_layout_static_imports_separately = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = 
ij_java_use_single_class_imports = true
ij_java_continuation_indent_size = 8